Canvas {
  background: url(../images/16081.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.animation {
  width: 100vw;
  height: 120vh;
  position: relative;
}
