@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
html,
body {
  width: 100%;
  overflow-x: hidden;
  background-color: black;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: black;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  position: absolute;
  right: 0;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #705df2;
  box-shadow: inset 0 0 3px #705df2;
}

.block {
  display: inline-block;
}
